

<div class="about-background">
	<%=image_tag('mapbackground.png')%>

	<div class='content-wrapper'>
		<div class="content">
			<div class='title'>Download the Data</div>
			<br>
			<div>
				<%= link_to users_download_csv_url %>
				<%= link_to users_download_geojson_url %>
			</div>
		</div>
	</div>
</div>
